/*
=============== 
Variables
===============
*/

:root {
    --clr-white: #fff;
    --transition: all 0.3s linear;
    --spacing: 0.1rem;
    --radius: 0.25rem;
    --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
    --max-width: 1170px;
    --fixed-width: 450px;
  }
  
  /* section */
  .birthday-section {
    width: 90vw;
    margin: 0 auto;
    max-width: var(--max-width);
  }
  
  @media screen and (min-width: 992px) {
    .birthday-section {
      width: 95vw;
    }
  }
  
  .birthday-main {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .birthday-container {
    width: 90vw;
    margin: 5rem 0;
    max-width: var(--fixed-width);
    background: var(--clr-white);
    border-radius: var(--radius);
    padding: 1.5rem 2rem;
    box-shadow: var(--dark-shadow);
  }
  .birthday-container h3 {
    font-weight: normal;
    text-transform: none;
    margin-bottom: 1.25rem;
  }
  .birthday-person {
    display: grid;
    grid-template-columns: auto 1fr 2fr;
    column-gap: 0.75rem;
    margin-bottom: 1.5rem;
    align-items: center;
  }
  .birthday-person img {
    width: 75px;
    height: 75px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: var(--light-shadow);
  }
  .birthday-person h4 {
    margin-bottom: 0.35rem;
  }
  .birthday-person p {
    margin-bottom: 0;
  }
  .birthday-btn {
    color: var(--clr-white);
    display: block;
    width: 100%;
    border-color: transparent;
    background: navy;
    margin: 2rem auto 0 auto;
    text-transform: capitalize;
    font-size: 1.2rem;
    padding: 0.5rem 0;
    letter-spacing: var(--spacing);
    border-radius: var(--radius);
    outline: 1px solid rgba(242, 138, 178, 0.8);
    cursor: pointer;
  }
  
  .birthday-congrat-btn {
    text-align: center;
    padding: 0.5rem;
    border-radius: var(--radius);
    background-color:rgba(242, 138, 178, 0.8);
    width: 50%;
  }
  
  .birthday-input-section {
    text-align: center;
  }
  
  .birthday-input-section-container {
    display:flex;
    height: 3rem;
    align-items: center;
    justify-content: center;
  }
  
  .birthday-reset-sectn {
    position: relative;
    width:9rem;
  }
  
  .birthday-reset-date-btn {
    border-radius: var(--radius);
    width:fit-content;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: skyblue;
  }
