.todo-background {
  background-color:seashell;
  background-image: url(../../assets/notebook_paper.png);
  max-width: 75vw;
  margin:auto;
  margin-top: 3em;
  align-items: center;
}

.todo-header {
  text-align: center;
  text-decoration: underline;
}

.todo-textEntry {
  text-align: center;
}

.todo-entry {
  width: 20em;
  max-height: 2em;
  padding:0em;
  padding-left: 0.5em;
  background: silver;
}
