.entry {
  background-color: silver;
  border-radius: 2em;
  max-width: fit-content;
  margin:auto;
  margin-bottom: 6em;
  padding-bottom: 10em;
}

.pokemon-name {
  color: blue;
  font-size: 1.3em;
  text-align: center;
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-top: 0.5em;
}

.type {
  text-align: center;
  padding:0.5em;
  padding-top: 0em;
  padding-bottom: 0em;
  color: navy;
  font-size: 1em;
}

.image {
  margin-left: auto;
  margin-right: auto;
  display: block;
}
