.todo-main {
  display: flex;
  text-align: left;
  margin: 0.5em;
}

.todo-finished {
  text-decoration: line-through;
}

.todo-check {
  position: relative;
  top: 0.4em;
  margin-right: 1em;
}

.todo-buttons {
  padding-right: 0.5em;
}

.todo-submit {
  font-size: 1em;
  width: 10vw;
}
