.todo-finished {
  text-decoration: line-through;
}

.todo-check {
  position: relative;
  top: 0.4em;
  margin-right: 0.5em;
}

.todo-buttons {
  padding-right: 0.5em;
}

.todo-input {
  font-size: 1em;
  width: 10vw;
}

