.tweet-date {
  font-weight: 600;
}

.tweet-message {
  font-style: italic;
}

.tweet-name {
  font-weight: bold;
  color:black;
}

.tweet-user {
  font-size: 0.8em;
  color:dimgrey;
}

.tweet-box-outer {
  background-color: rgb(29, 161, 242);
  max-width: 50vw;
  margin: auto;
  max-height:10em;
}

.tweet-box-inner {
  background-color: white;
}
