/*
=============== 
Variables
===============
*/

:root {
    --clr-primary-1: hsl(205, 86%, 17%);
    --clr-primary-5: hsl(205, 78%, 60%);
    --clr-primary-7: hsl(205, 90%, 76%);
    --clr-primary-8: hsl(205, 86%, 81%);
    --clr-grey-3: hsl(209, 34%, 30%);
    --clr-white: #fff;
    --transition: all 0.3s linear;
    --spacing: 0.1rem;
    --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    --max-width: 1170px;
  }

  /* section */
.navbar-section {
    width: 90vw;
    margin: 0 auto;
    max-width: var(--max-width);
  }
  
  @media screen and (min-width: 992px) {
    .navbar-section {
      width: 95vw;
    }
  }
  
  /*
  =============== 
  Navbar
  ===============
  */
  .navbar {
    background: var(--clr-white);
    box-shadow: var(--light-shadow);
    width:70%;
    margin:auto;
    margin-top: 1rem;
  }
  .navbar-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
  }
  .navbar-toggle {
    font-size: 1.5rem;
    color: var(--clr-primary-5);
    background: transparent;
    border-color: transparent;
    transition: var(--transition);
    cursor: pointer;
  }
  .navbar-toggle:hover {
    color: var(--clr-primary-1);
    transform: rotate(90deg);
  }
  .navbar-logo {
    height: 40px;
  }
  .navbar-links a {
    color: var(--clr-grey-3);
    font-size: 1rem;
    text-transform: capitalize;
    letter-spacing: var(--spacing);
    display: block;
    padding: 0.5rem 1rem;
    transition: var(--transition);
  }
  .navbar-links a:hover {
    background: var(--clr-primary-8);
    color: var(--clr-primary-5);
    padding-left: 1.5rem;
  }
  .navbar-social-icons {
    display: none;
  }
  .navbar-links-container {
    height: 0;
    overflow: hidden;
    transition: var(--transition);
  }
  .navbar-show-container {
    height: 10rem;
  }
  @media screen and (min-width: 1000px) {
    .navbar-center {
      max-width: 1170px;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 1rem;
    }
    .navbar--header {
      padding: 0;
    }
    .navbar-toggle {
      display: none;
    }
    .navbar-links-container {
      height: auto !important;
    }
    .navbar-links {
      display: flex;
    }
    .navbar-links a {
      padding: 0;
      margin: 0 0.5rem;
    }
    .navbar-links a:hover {
      padding: 0;
      background: transparent;
    }
    .navbar-social-icons {
      display: flex;
    }
    .navbar-social-icons a {
      margin: 0 0.5rem;
      color: var(--clr-primary-5);
      transition: var(--transition);
    }
    .navbar-social-icons a:hover {
      color: var(--clr-primary-7);
    }
  }
  