body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.accordion-main {
  min-height: 100vh;
    /* using flex because of better browser support */
    display: flex;
    justify-content: center;
    align-items: center;
}

.accordion-container {
  width: 90vw;
  margin: 5rem auto;
  background: var(--clr-white);
  border-radius: var(--radius);
  padding: 2.5rem 2rem;
  max-width: var(--fixed-width);
  display: grid;
  gap: 1rem 2rem;
}

.accordion-container h3 {
  line-height: 1.2;
  font-weight: 500;
}

.accordion-section {
  width: 90vw;
  margin: 0 auto;
  max-width: var(--max-width);
}

@media screen and (min-width: 992px) {
  .accordion-section {
    width: 95vw;
  }

 .section {
   width: 90vw;
   margin: 0 auto;
   max-width: var(--max-width);
 }

 
 
}

.main {
  background-color: #D8CBF1;
}

.title-main {
  text-align: center;
  margin-bottom: 2rem;
  color:mediumpurple;
}

.underline-main {
 width: 5rem;
 height: 0.25rem;
 background:indigo;
 margin-left: auto;
 margin-right: auto;
}

.button-container {
  display:block;
  border-radius: 15%;
  background-color:#e3d5f1;
  padding: 1.5rem;
  width: 70vw;
}

.button-project {
  align-self:center;
  align-items: center;
  border-color:transparent;
  background-color:slateblue;
  color:white;
  border-radius: 5%;
  border-color: darkslateblue;
  justify-content: center;
  height:2rem;
  cursor: pointer;
  margin-left: 1rem;
  margin-bottom: .5rem;
  min-width: 2rem;
  font-size: 1.2rem;
}
